<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if user.is_authenticated %}
        <h3><a href="{% url "home" %}">Home</a></h3>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url "genres:all" %}">Genre</a></h3>
    {% else %}
        <h3><a href="{% url "home" %}">Home</a></h3>
        <a href="{% url "accounts:login" %}">Login</a>
        <a href="{% url "accounts:signup" %}">SignUp</a>
        <a href="{% url "genres:all" %}">Genre</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>